<!--
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a href="/add"> Write a new message </a><br />
<table>
    <tr>
        <th> Id </th>
        <th> Content </th>
        <th> Posted Date </th>
        <td> Sent By </td>

    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.postedDate}"></td>
        <td th:text="${message.sentBy}"></td>

        <td>
            <a th:href="@{/update/{id} (id=${message.id})} "> Update</a> -
            <a th:href="@{/detail/{id} (id=${message.id})} "> Details</a> -
            <a th:href="@{/delete/{id} (id=${message.id})} "> Delete</a>
        </td>
    </tr>
</table>

</body>

-->

<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a href="/add"> Write a new message </a><br />
<table class="table">
    <thread>
    <tr>
        <th scope="col"> Id </th>
        <th scope="col"> Content </th>
        <th scope="col"> Posted Date </th>
        <td scope="col"> Sent By </td>

    </tr>
    </thread>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.postedDate}"></td>
        <td th:text="${message.sentBy}"></td>

        <td>
            <a th:href="@{/update/{id} (id=${message.id})} "> Update</a> -
            <a th:href="@{/detail/{id} (id=${message.id})} "> Details</a> -
            <a th:href="@{/delete/{id} (id=${message.id})} "> Delete</a>
        </td>
    </tr>
</table>

</body>
