<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/"> Show My Messages </a><br />
Id : <span th:number="${message.id}" ></span><br />
Content : <span th:text="${message.content}" ></span><br />
Posted Date : <p th:number="${message.postedDate}" ></p>
Sent By :<span th:text="${message.sentBy}" ></span><br />
<a th:href="@{/delete/{id} (id=${message.id})}" >Delete this Message from the list</a>

</body>
</html>